.N {position: fixed; top: 0; left: 50%; right: 50%;}
.S {position: fixed; bottom: 0; left: 50%; right: 50%;}

.W {position: fixed; left: 0; top: 50%;  bottom: 50%;}
.E {position: fixed; right: 0; top: 50%;  bottom: 50%;}

.NW {position: fixed; top: 0; left: 0;}
.NE {position: fixed; top: 0; right: 0;}
.SE {position: fixed; bottom: 0; right: 0;}
.SW {position: fixed; bottom: 0; left: 0;}

.dark-opaque {
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgray;
}

.btn {
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.btn-row {
    display: flex;
}

.btn-row > .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right: 1px solid #252525;
}

.btn-row > .btn:not(:last-child):not(:first-child) {
    border-radius: 0;
    margin: 0;

    border-right: 1px solid #252525;
}

.btn-row > .btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar {
    position: absolute;
    right:10px;
    top: 40%;
    padding: 20px;
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content .elem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
